// .posts {
//     list-style-type: none;
//     margin: 0;
// }

// .post {
//     margin: 1rem 0;
//     a { 
//         
//     }
//     a:hover{
//         
//     }
//     h1{
//         margin-bottom: 0;
//     }
//     p {
//         
//     }
// }

.paragraph {
        color: #777777;
        font-size: 1rem;
        font-style: italic;
}
.p-link {
        color: #000000;
        display: block;
        padding: 5rem 0rem;
        text-decoration: none;
        font-size: 2rem;
        // font-style: italic;

}

